    /*---Moblie---*/
    
    @media (max-width: 740px) {
        .form-submit-btn {
            padding: 16px;
        }
        .contact-form .form-control {
            padding: 15px;
            font-size: 18px;
        }
        .place-buy-btn {
            padding: 13px 10px;
        }
        #header .search-btn {
            display: none;
        }
        #header {
            overflow: hidden;
        }
        #content .member-img {
            width: 60%;
            height: 100%;
        }
        #content .content-section {
            width: 100%;
        }
        #nav {
            display: block;
        }
        #nav>li {
            display: block;
        }
        #nav>li:first-child {
            display: inline-block;
        }
        #nav .subnav a {
            height: 48px;
            padding-left: 35px;
        }
        #nav .subnav {
            position: initial;
        }
        .menu-btn {
            position: absolute;
            top: 0;
            right: 0;
        }
        .s-full-width,
        .s-col-ful {
            width: 100%;
        }
        .contact-form {
            margin-top: 16px;
        }
        .s-mt-8 {
            margin-top: 8px;
        }
    }
    /* --- PC --- */
    
    @media (min-width: 1024px) {
        .menu-btn {
            display: none;
        }
    }
    /*--- tablet ---*/
    
    @media (min-width: 740px) and (max-width: 1024px) {
        .menu-btn {
            display: none;
        }
    }